* {
  margin : 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items : center;
  border : 1px solid lightgrey;
  position : sticky;
  top : 0;
  z-index : 100;
}

.banner >h1 {
  position: relative;
  top : 200px;
  right : 10px;
  left : 370px;
  bottom : 1000px;
}

.banner >p {
  margin-top : 100px;
  margin-right : 100px;
  margin-bottom : 100px;
  margin-left : 100px;
  padding-top : 100px;
  padding-right : 100px;
  padding-bottom : 100px;
  padding-left : 100px;
  border-top:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-left:1px solid black;
}

.card {
  margin-bottom  : 100px
}

.card >h1 {
  display: flex;
  text-transform : uppercase;
}

.card >input{
  border-radius: 99px;
  outline-width : 0;
}


.banner {
  background: url('http://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg');
}



.box {
  width : 200px;
  margin-bottom  : 100px;
  overflow : hidden;
  box-shadow : 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor : pointer;
}

.box:hover {
  transform : scale(1.07);
}

.box >img{
  width : 200px;
  height : 200px;
}

.searchResult >img{
  width : 200px;
  height : 200px;
}

.searchResult >img:hover {
   opacity : 0.8;
}

.decoration >h1{
   text-decoration: line-through;
}

.amazon >img {
   width : 100%;
   mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}













