* {
  margin : 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items : center;
  border : 1px solid lightgrey;
  position : sticky;
  top : 0;
  z-index : 100;
}


.banner >h1 {
  position: relative;
  top : 200px;
  right : 10px;
  left : 370px;
  bottom : 1000px;
}



